<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Rescue</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between mt-4 mb-5">
            <div class="head_left">
                <h1>Adopt Today!</h1>
            </div>
            <div class="head_right">
                <a href="/dashboard" class="ms-4">Dashboard</a>
                <a href="/logout"class="ms-4">Logout</a>
            </div>
        </header>
        <form id="dogSearch">
        <div class="search d-flex mx-auto mb-5">
            <label for="searchTerm">
                Search available pets:
            </label>
            <input type="text" id="searchTerm" class="form-control" placeholder="dogs, cats, rabbits, pigs, ferrets, etc...">
            <button type="submit" class="btn btn-sm btn-primary ms-3">
                Search
            </button>
        </div>
        </form>    
        <div class="results">
    
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

